
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    color: #333;
}


.form-container {
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}


h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}


label {
    display: inline-block;
    width: 20%;
    font-size: 1rem;
    text-align: right;
    margin-right: 10px;
}


input, textarea {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: none; 
    height: 100px;
}


.float-container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.float-item {
    float: flex;
    width: 48%;
    margin-right: 2%;
    align-items: center;
}

.float-item:last-child {
    margin-right: 0;
}


.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.image-container label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
